.header-container {
  width: 80%;
  margin: auto;
  height: 90px;
  padding-top: 20px;
  justify-content: space-between;
}
.ul-container ul {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(33, 37, 41);
  padding-top: 15px;
  display: flex;
  gap: 25px;
}
nav li:hover{
  color: rgba(180, 253, 53, 0.829);
}
.login {
  border: 1px solid rgb(179, 253, 53);
  color: gray;
  padding: 10px;
  width: 100px;
  border-radius: 4px;
  font-weight: bold;
}
.login:hover{
   background: linear-gradient(
    90deg,
    rgba(255, 255, 0, 0.877),
    rgba(20, 197, 20, 0.753)
  );
  border: none;
}

.signup {
  border: none;
  background: linear-gradient(
    90deg,
   rgba(255, 255, 0, 0.877),
   rgba(20, 197, 20, 0.753)
  );
  color: gray;
  padding: 10px;
  margin-left: 20px;
  width: 100px;
  border-radius: 4px;
  font-weight: bold;
}
.signup:hover{
  background: transparent;
  border: 1px solid rgb(179, 253, 53);

}
.hamburger-container svg{
  color: rgb(202, 198, 198);
  
}
.hamburger-container button{
   background: linear-gradient(
    90deg,
    rgba(255, 255, 0, 0.877),
    rgba(20, 197, 20, 0.753)
  );
  border: none;
  padding: 10px;
  border-radius: 8px;
}
.hamburger-container ul{
  width: 300px;
  background-color: rgba(255, 255, 255, 0.041);
  border: 1px solid rgb(33, 37, 41);
  padding: 20px;
  color: rgb(82, 79, 79);
}
.hamburger-container li{
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}
.ul-button-container{
  padding-top: 10px;
}
.hamburger-container{
  display: none;
}

@media(max-width:1300px) {
    .header-container{
        width: 90%;
    }
}
@media(max-width:1150px) {
    .header-container{
        width: 97%;
    }
}
@media(max-width:1000px) {
    .ul-container{
      display: none;
    }
    .header-container{
      width: 95%;
    }
    .hamburger-container{
      display: block;
    }
    .ul-button-container{
      display: none;
    }
}
@media(max-width:500px) {
  .ul-button-container{
    display: block;
  }
  .none-button{
    display: none;
  }
}